* {
  box-sizing: border-box;
  font-family: Boogaloo, cursive;
}

body {
    background-color: #0e6ba8;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
  }

.top {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.game {
  display: flex;
  justify-content: center;
  margin: 35px;
}

h2 {
  font-size: 100px;
  margin: 30px;
  text-align: center;
  -webkit-text-stroke: 1px #e4e8eb;
}

.left {
  font-size: 25px;
  color: black;
  border: 2px solid black;
  width: 200px;
  height: 650px;
  border-radius: 6px;
  margin-top: 15px;
  padding: 2px;
  background-color: white;
}

.right{
  font-size: 18px;
  color: black;
  height: 200px;
  border-radius: 6px;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

#bingoBallValue{
  margin-left: 15px;
}

.board {
  display: grid;
  font-size: 40px;
  padding: 10px 50px 10px 50px;
  text-align: center;
  grid-template-columns: 110px 110px 110px 110px 110px;
  grid-template-rows: 110px 110px 110px 110px 110px 110px;
}

#draw-a-number {
  margin-bottom: 35px;
}

#title {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#callSheetNums {
  letter-spacing: -.16px;
  line-height: 37px;
  text-align: center;
}

#call1, #call2, #call3, #call4, #call5,
#call6, #call7, #call8, #call9 {
  letter-spacing: 8px;
}

#c0r0:hover, #c1r0:hover, #c2r0:hover, #c3r0:hover, #c4r0:hover, 
#c0r1:hover, #c1r1:hover, #c2r1:hover, #c3r1:hover, #c4r1:hover, 
#c0r2:hover, #c1r2:hover, #c3r2:hover, #c4r2:hover, 
#c0r3:hover, #c1r3:hover, #c2r3:hover, #c3r3:hover, #c4r3:hover, 
#c0r4:hover, #c1r4:hover, #c2r4:hover, #c3r4:hover, #c4r4:hover {
  background-color: black;
  color: whitesmoke;
  cursor: pointer;
}

#squareB, #squareI, #squareN, #squareG, #squareO,
#c0r0, #c1r0, #c2r0, #c3r0, #c4r0, 
#c0r1, #c1r1, #c2r1, #c3r1, #c4r1, 
#c0r2, #c1r2, #c2r2, #c3r2, #c4r2, 
#c0r3, #c1r3, #c2r3, #c3r3, #c4r3, 
#c0r4, #c1r4, #c2r4, #c3r4, #c4r4{
  font-size: 50px;
  border: 2px solid black;
  display: grid; 
  align-content: center;
  height: 110px;
  width: 110px;
  background-color: white;
}

#c2r2 {
  font-size: 40px;
  background-color: #0E6BA8;
  color: whitesmoke;
}

#c2r2:hover {
  background-color: black;
  cursor: pointer;
}


#squareB, #squareI, #squareN, #squareG, #squareO {
  font-size: 70px;
}

#squareB {background-color: #ED1C24;}
#squareI {background-color: #F0A202;}
#squareN {background-color: #F1D302;}
#squareG {background-color: #0E6BA8;}
#squareO {background-color: #8EA604;}

button {
  width: 200px;
  height: 200px;
  padding: 10px 10px;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 6px;
  font-size: 30px;
  font-family: Boogaloo, cursive;
  display: grid;
  align-items: center;  
  justify-items: center;
  text-align: center;
  margin-left: 8px;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

h1 {
  font-size: 50px; 
  background-color: white;
  border: 40px solid #ED1C24;
  border-radius: 50%;
  width: 175px;
  height: 175px;
  display: grid;
  align-items: center;  
  justify-items: center;
  text-align: center;
  margin: 0px;
}

h3 {
  text-align: center;
}

 h4 {
  text-align: center;
  font-size: 55px;
  -webkit-text-stroke: .1vmin #e4e8eb;
  margin-top: 30px;
  margin-bottom: 40px;
}

h5 {
  margin: 12px;
  font-size: 28px;
  line-height: 1.25;
}