* {
  box-sizing: border-box;
  font-family: Boogaloo, cursive;
}

body {
    /* background:
      linear-gradient(white, transparent),
      linear-gradient(to top left, #0E6BA8, transparent),
      linear-gradient(to top right, #0E6BA8, transparent);
    background-blend-mode: screen;
    height: 200vh; */

    background-color: #0e6ba8;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
  }

.top {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.game {
  display: flex;
  justify-content: center;
  margin: 35px;
}

h2 {
  font-size: 100px;
  margin: 30px;
  text-align: center;
  -webkit-text-stroke: 1px #e4e8eb;
}

.left {
  font-size: 25px;
  color: black;
  border: 2px solid black;
  width: 200px;
  height: 625px;
  border-radius: 6px;
  margin-top: 35px;
  padding: 2px;
  background-color: white;
}

.right{
  font-size: 18px;
  color: black;
  height: 200px;
  border-radius: 6px;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.middle {
  display: grid;
  font-size: 40px;
  padding: 10px 50px 10px 50px;
  text-align: center;
  grid-template-columns: 110px 110px 110px 110px 110px;
  grid-template-rows: 110px 110px 110px 110px 110px 110px;
}

#bingoBallValue {
  margin-bottom: 35px;
}

#draw-a-number {
  margin-bottom: 35px;
}

#title {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#callSheetNums {
  letter-spacing: -.16px;
  line-height: 37px;
  text-align: center;
}

#call1, #call2, #call3, #call4, #call5,
#call6, #call7, #call8, #call9 {
  letter-spacing: 8px;
}

#square1:hover, #square6:hover, #square11:hover, #square16:hover, #square21:hover, 
#square2:hover, #square7:hover, #square12:hover, #square17:hover, #square22:hover,
#square3:hover, #square8:hover, #square13:hover, #square18:hover, #square23:hover,
#square4:hover, #square9:hover, #square14:hover, #square19:hover, #square24:hover,
#square5:hover, #square10:hover, #square15:hover, #square20:hover, #square25:hover
{
  background-color: lightgray;
  cursor: pointer;
}

#squareB, #square1, #square6, #square11, #square16, #square21, 
#squareI, #square2, #square7, #square12, #square17, #square22, 
#squareN, #square3, #square8, #square13, #square18, #square23,
#squareG, #square4, #square9, #square14, #square19, #square24, 
#squareO, #square5, #square10, #square15, #square20, #square25 {
  font-size: 50px;
  border: 2px solid black;
  display: grid; 
  align-content: center;
  height: 110px;
  width: 110px;
  background-color: white;
}

#square13 {
  font-size: 30px;
  background-color: #0E6BA8;
}

#squareB, #squareI, #squareN, #squareG, #squareO {
  font-size: 70px;
}

#squareB {background-color: #ED1C24;}
#squareI {background-color: #F0A202;}
#squareN {background-color: #F1D302;}
#squareG {background-color: #0E6BA8;}
#squareO {background-color: #8EA604;}

button {
  width: 200px;
  height: 200px;
  padding: 10px 10px;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 6px;
  font-size: 30px;
  font-family: Boogaloo, cursive;
  background-color: white;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

h1 {
  font-size: 50px; 
  background-color: white;
  border: 40px solid #ED1C24;
  border-radius: 50%;
  width: 175px;
  height: 175px;
  display: grid;
  align-items: center;  
  justify-items: center;
  text-align: center;
  margin: 0px;
}

