* {
  box-sizing: border-box;
}

body {
  font-family: 'Boogaloo', cursive;
  display: grid;
  align-content: center;
  justify-content: center;
 }

h2 {
  font-size: 10vh;
}
.board {
  font-size: 3vh;
  display: grid; 
  align-content: center;
  justify-content: center;
}

#squareB, #square1, #square6, #square11, #square16, #square21 {
  border: 2px solid black;
  display: grid; 
  align-content: center;
  justify-content: center;
  height: 120px;
  grid-row: 0 / 1;
  grid-column: 0 / 1;
}

#squareI, #square2, #square7, #square12, #square17, #square22{
  font-size: 3vh;
  border: 2px solid black;
  display: grid; 
  align-content: center;
  justify-content: center;
  height: 120px;
  grid-row: 0 / 1;
  grid-column: 0 / 1;
}

#squareN, #square3, #square8, #square13, #square18, #square23{
  font-size: 3vh;
  border: 2px solid black;
  display: grid; 
  align-content: center;
  justify-content: center;
  height: 120px;
  grid-row: 0 / 1;
  grid-column: 3 / 4;

}

#squareG, #square4, #square9, #square14, #square19, #square24{
  font-size: 3vh;
  border: 2px solid black;
  display: grid; 
  align-content: center;
  justify-content: center;
  height: 120px;
  grid-row: 0 / 1;
  grid-column: 4 / 5;
}

#squareO, #square5, #square10, #square15, #square20, #square25{
  font-size: 3vh;
  border: 2px solid black;
  display: grid; 
  align-content: center;
  justify-content: center;
  height: 120px;
  grid-row: 0 / 1;
  grid-column: 5 / 6;
}

#squareB, #squareI, #squareN, #squareG, #squareO{
  background-color: #2E758B;
  font-size: 6vh;
  height: 120px;
  width: 120px;
  margin: 0px;
}

ul {
  list-style: none;
  display: flex;
  text-align: left;
  display: inline-block;
}